---
page_title_show: true
title: Artoo Platforms
author: The Hybrid Group
description: Artoo Platforms
layout: documentation
active_menu_docs: true

page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
platforms: true
---
%section.intro
  :markdown
    # Setup Your Environment

    ## Ruby

    To be able to run Artoo, you first need to install a Ruby interpreter.

    ### Install RVM

    **Follow the instructions below** or go to [the RVM site](https://rvm.io/rvm/install) for more detailed instructions.

    Run the following command in a terminal:

        $ \curl -sSL https://get.rvm.io | bash -s stable

    Once the installation is complete, close your terminal window and open a new one.

    To make sure RVM was installed correctly, run the following command:

        $ type rvm | head -n 1

    And you should see the following output

        rvm is a function

    ### Install Ruby 2.1.1

    If you're a first time user, we recommend you install this version of Ruby.

    With RVM installed, just run this command:

      $ rvm install 2.1.1

    Optionally, more advanced users can choose from other Rubies they prefer.
    Artoo supports MRI 1.9.3+, JRuby 1.7.4+, and Rubinius 2.0+.

%section.installation
  :markdown
    ## Install Artoo

    Once you've gotten your Ruby interpreter installed, you can install the Artoo gem:

        $ gem install artoo

    Then, install the gems required by the hardware you want to use.
    For example, if you wanted to use an Xbox 360 controller to fly an ARDrone:

      $ gem install artoo-joystick artoo-ardrone

    ## Writing Robot Code

    Now you're ready to write your own code to power your robots.

    Follow our tutorials and other docs for step-by-step guidance on how you can make amazing things with Artoo.

    Visit our [platforms section](/documentation/platforms) for information about our supported devices, and some examples.

    Or visit our [Test-Driven Robotics example repo](https://github.com/hybridgroup/artoo-test-example).
