.frameworks
  .container
    .robotics-framework
      %img.robot{src: "/images/elements/artoo-footer.png"}/
      %p.framework Multiple Solutions
      %p.description Artoo provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.
    .robotics-framework
      %img.robot{src: "/images/elements/cylon.png"}/
      %p.framework Cylon Project
      %p.description Want to use Javascript to power your robots? Check out our sister project Cylon.js
      %a{ href:'http://cylonjs.com', target: :blank, class:'footer-button'} View Project
    .robotics-framework
      %img.robot{src: "/images/elements/gobot.png"}/
      %p.framework Gobot Project
      %p.description Want to use Golang on robots? Check out our sister project Gobot
      %a{ href:'http://gobot.io', target: :blank, class:'footer-button'} View Project

.copyright
  .container
    .hybrid-group
      %span &copy; Copyright 2012-2014
      %a#THG-logo{href: "http://hybridgroup.com", target: "_blank"}
        %img{src: "/images/elements/thg-logo.png", alt: "The Hybrid Group"}/
    .top-link
      %a{:href => "#top", :class => "scroll"}
        %img{src: "/images/elements/top.png", alt: "Top"}/
        %p.top Top
