%button{
	background-color: $color-button-action-static-background;
	border-bottom: 4px solid $color-button-action-static-shadow;
	color: $color-white;
	padding: em(15) em(25);text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
	text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
	text-decoration: none;

	&:hover{
		background-color: $color-button-action-hover-background;
		border-bottom: 4px solid $color-button-action-hover-shadow;
		cursor: pointer;
	}

	&:active{
		background-color: $color-button-action-active-background;
		cursor: pointer;
	}
}