%button-platform {
	@extend %button;
	background-color: $color-button-footer;
	border: none;
	font-size: em(16);
	padding: em(9) em(25);
}

%button-red {
	@extend %button;
	background-color: $color-button-footer;
}

%button-green {
	@extend %button;
}

%button-footer{
	@extend %button-red;
	border: none;
	font-size: em(14);
	padding: em(9) em(25);
}
