%button-footer{
	@extend %button;
	background-color: $color-button-footer;
	border: none;
	font-size: em(14);
	padding: em(9) em(25);
}

%button-platform {
	@extend %button;
	background-color: $color-button-footer;
	border: none;
	font-size: em(16);
	padding: em(9) em(25);
}

%button-red {
	@extend %button;
	background-color: $color-button-footer;
}

%button-green {
	@extend %button;
	background-color: $color-button-action-hover-background;
	border-color: $color-button-action-hover-shadow;
	&:hover {
		background-color: $color-button-action-static-background;
	}
}