%hero{
	background: url(/images/elements/background.png) top center repeat;
	position: relative;
	z-index: -1;

  .title{
		color: $color-title-hero;
	}

	.sub-title, a{
		color: $color-sub-title-hero;
	}

	.animations{
		position: relative;
		z-index: 0;

		*{
			position: absolute;
		}
	}
}