%hero{
	background: url(/images/elements/background.png) top center repeat;
  position: relative;
  z-index: 0;

  .title{
		color: $color-title-hero;
	}

	.sub-title,a{
		color: $color-sub-title-hero;
		text-decoration: none;
	}

	.animations{
		position: relative;
	}
}