%sub-nav {
  border-top: 1px solid $color-subnav-border;
  border-bottom: 1px solid $color-subnav-border;
  padding: em(20) 0;

  a {
    padding: em(5) em(10);
    margin: em(20) em(2);
    color: $color-grey;
    font-size: $font-subnav-size;
  }
}