// Sassy and Neat.
@import "bourbon";
@import "neat";
@import "vendor/normalize";

// Configuration
// --------------------------------------------------
$grid-columns : 12;


// Devices
// --------------------------------------------------
$design-edge          : new-breakpoint(max-width 1000px 4);
$tablet               : new-breakpoint(max-width 768px 4);
$mobile-large         : new-breakpoint(max-width 568px 4);
$mobile               : new-breakpoint(max-width 480px 4);
$mobile-small         : new-breakpoint(max-width 320px 4);


// Color Palette
// --------------------------------------------------
$color-white: #fff;
$color-blue: #c1effe;
$color-light-blue: #ebfdff;
$color-medium-blue: #b4e3ff;
$color-medium-dark-blue: #4692bf;
$color-dark-blue: #005c93;
$color-extra-dark-blue: #0f4b87;
$color-grey: #505050;


// Panels
// --------------------------------------------------
$color-panel-header: $color-light-blue;
$color-panel-footer: $color-extra-dark-blue;
$color-panel-body: $color-light-blue;
$color-panel-container: $color-blue;


// Text
// --------------------------------------------------
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;

$color-anchor: $color-medium-dark-blue;
$color-anchor-hover: #c00;

$color-anchor-header: $color-grey;
$color-anchor-header-hover: $color-blue;


// Button
// --------------------------------------------------
$color-button-action-font              : $font-primary;
$color-button-action-static-background : #7eb847;
$color-button-action-static-shadow     : #d6ca635;
$color-button-action-hover-background  : #EF7085;
$color-button-action-hover-shadow      : #f65f75;
$color-button-action-active-background : #ef4e69;
$color-button-action-active-shadow     : #ef4e69;


// Includes
// --------------------------------------------------

@import "support/before/*";

@import "support/*";

@import "views/shared/*";

@import "objects/*";

@import "views/*";

@import "support/after/*";
