- wrap_layout :layout do
	.main-content{:role => "main"}
		.documentation
			.side-documentation
				= partial "/layouts/partials/side-bar"
			.documentation-single
				- if current_page.data.page_title_show == true
					= partial "/hybridpages/partials/widgets/page_subtitle"  
				= yield