---
page_title_show: true
title: BeagleBone with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: BeagleBone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-beaglebone' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-beaglebone/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/beaglebone.jpg", class: "display"
  .info_intro
    = partial '/layouts/hybridpages/page_repo_issues'
    :markdown
      The BeagleBone is an ARM based single board computer, with many different GPIO interfaces built in.

      <a class="action" href="http://beagleboard.org/Products/BeagleBone" target="_blank">
        + info about the BeagleBone platform click here
      </a>

      We have created a bootable image of Arch Linux that contains the needed drivers to use the Beaglebone Black with Artoo.
      You can download it from [here](https://s3.amazonaws.com/artoo-images/beaglebone/artoo-arch-armv7-1380751200.tar.xz).

  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    Install the Artoo module providing BeagleBone support through RubyGems:

        $ gem install artoo-beaglebone

%section.how-to#HowToUse
  :markdown

    ## How to use

    This small program causes an LED to blink.

        :::ruby
        require 'artoo'

        connection :beaglebone, :adaptor => :beaglebone
        device :led, :driver => :led, :pin => :P9_12

        work do
          every 1.second do
            led.on? ? led.off : led.on
          end
        end

%section.drivers#Drivers
  :markdown
    ## Drivers

    All Artoo digital GPIO and i2c drivers listed below work with the BeagleBone:

  .hardware
    .devices
      = partial "layouts/partials/devices_for_platform", locals: { platform: "Beaglebone Black" }

