---
page_title_show: true
title: Crazyflie with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Crazyflie
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-crazyflie' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-crazyflie/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/crazyflie.jpg", class: "display"
  .info_intro
    = partial '/layouts/hybridpages/page_repo_issues'

    :markdown
      You can use Artoo with the Crazyflie micro-quadcopter.

      <a class="action" href="http://www.bitcraze.se/" target="_blank">
        + info about the Crazyflie platform, click here
      </a>
  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install

    Install the Artoo module providing Crazyflie support through RubyGems:

        $ gem install artoo-crazyflie

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This small program causes the Crazyflie to 'hop' up in the air for 1 second.

        :::ruby
        require 'artoo'

        connection :crazyflie, :adaptor => :crazyflie
        device :drone, :driver => :crazyflie, :connection => :crazyflie, :interval => 0.1

        work do
          drone.forward(0)
          drone.set_thrust_on
          after(1.seconds) {drone.stop}
        end

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    The Crazyflie uses a 2.4 GHz radio to communicate.
    There is a USB dongle called the Crazyradio that is required to control the Crazyflie quadcopter.

    If you are have a USB 3.0 port, you might run into this issue -
    [http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability](http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability)

    ## How To Hover

    To use Crazyflie with the hover command, requires installing a fork ofthe [crazyflie firmware](https://bitbucket.org/omwdunkley/crazyflie-firmware).

    The easiest way to currently do this, is to install the Crazyflie PC Client, download the 'hover' branch BIN file from [here](https://bitbucket.org/omwdunkley/crazyflie-firmware/downloads/cflie.bin)
    and then use the Crazyflie PC tools to update the Crazyflie firmware.

    Once you have updated the Crazyflie firmware, you will NEED to use the following syntax in your Artoo code to use it:

        :::ruby
        connection :crazyflie, :adaptor => :crazyflie, :supports_hover => true

    If you do not add :supports_hover => true to your connection code to the Crazyflie, it will go crazy out of control as you as you try to connect to it. You have been warned...

%section.drivers#Drivers
  :markdown
    ## Drivers

    There are currently two drivers for the Crazyflie, as listed below.

  .hardware
    .devices
      = partial "layouts/partials/devices_for_platform", locals: { platform: "Crazyflie" }
