---
page_title_show: true
title: Artoo Platforms
author: The Hybrid Group
description: Artoo Platforms
layout: documentation
active_menu_platforms: true
main_nav: true

page_title: Platforms
page_subtitle: Artoo has an extensible system for connecting to hardware devices.
---
%ul.platform-list
  - data.platforms.each do |name, info|
    %li.platform
      %a{:href => "/documentation/platforms/#{info.slug}"}
        %h3.title= name
        %img{src: "/images/devices/#{info.slug}.jpg", style: "width: 90%"}
