.documentation {
	font-family: $font-secondary;

	.box{
  		height: em(120);
	}
	.platform{
		width: 24%;
	}
	.sidebar-header{
    	height: 69px;
    }
    #docs-menu{
      width: 55px;
    }
    .line {
        height: 2px;
        width: 30px;
    }

    .subNavfixed {
        width: 100%;
        background: $color-medium-blue;

        .container-subnav {
            max-width: $max-width;
        }

        .sub-nav-title {
            line-height: em(62);
        }
    }

    .device img {
        max-width: 100%;
    }
}
