.documentation {
	font-family: $font-secondary;

	.box{
  		height: em(120);
	}
    
	.platform{
		width: 24%;
        @include media($mobile-large) {
            width: 49%;
            float: none;
        }
	}

	.sidebar-header{
    	height: 69px;
    }

    .subNavfixed {
        width: 100%;
        background: $color-medium-blue;

        .container-subnav {
            max-width: $max-width;
        }

        .sub-nav-title {
            line-height: em(62);
        }
    }

    .device img {
        max-width: 100%;
    }

    .image-circuit img {
        height: 300px;
  }
}
