.documentation {
	font-family: $font-secondary;

	.box{
  		height: em(120);
	}
	.platform{
		width: 24%;
	}
	.sidebar-header{
    	height: 69px;
    }
    #docs-menu{
      width: 55px;
    }
    .line {
        height: 2px;
        width: 30px;
    }
}
