.hero {
  height: 430px;
}

.ship-small{
  width: 100%;
  height: 29px;
}

.ship-medium{
  width: 100%;
  height: 35px;
}

.ship-large{
  width: 100%;
  height: 46px;
}
.platform{
  width: 19%;

  @include media($mobile-large) {
    width: 49%;
    float: none;
  }
}

/* center align twitter button*/
@include media($mobile-large) {
  #twitter-widget-0{
    width: 99px !important;
  }
}
