.hero {
	height: 430px;
}

.moon{
	height: 89px;
	width: 778px;
}

.ship-small{
	width: 27px;
	height: 29px;
}

.ship-medium{
	width: 103px;
	height: 35px;
}

.ship-large{
	width: 41px;
	height: 46px;
}

.planet{
	width: 118px;
	height: 112px;
}

.platform{
	width: 19%;
}