.video {
  @include span-columns(6 of 12);
  @include omega;
  margin: em(5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include media($tablet) {
    @include span-columns(12 of 12);
    margin: 0;
    padding: 0 em(10);
  }

  .video-title {
    font-size: em(16);
    height: em(30);
  }

  iframe, object {
    width: 100%;
    height: 300px;
    display: block;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.videos {
  p {
    @include media($tablet) {
      margin: em(10) em(15);
    }
  }
}
