.video {
  @include span-columns(6 of 12);
  @include omega;
  margin: em(5);

  @include media($tablet) {
    @include span-columns(12 of 12);
  }

  .video-title {
    font-size: em(16);
    height: em(30);
  }

  iframe, object {
    width: 100%;
    height: 300px;
  }
}
