---
page_title_show: true
title: Artoo IRC Chat
author: The Hybrid Group
page_title: Live Chat
page_subtitle: "Chat with the Artoo team."
layout: documentation
active_menu_docs: true
---
%h1 IRC

%p
  Join us on IRC:
  %code #artoo @ freenode.net
  or use the built-in IRC client below.

%iframe{src: "http://webchat.freenode.net?channels=%23artoo&uio=d4", width: "700", height: "400"}
