.app-header {

    .display {
        @include span-columns(5);
        margin: em(12) 0 0 0;
    }

    .logo {
        display: block;
        background: url(/images/elements/logo.png) left top no-repeat;
        text-indent: -99999px;
        background-size: contain;
    }

    .menu {
        @include span-columns(7);
        text-align: right;
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    ul {
        list-style: none;
        margin-left: 0;
    }

    li {
        display: inline-block;
    }

    .item {

      font-size: 16px;
      font-weight: 600;
      margin: 10px;
      padding: 8px 4px;

      &, &:visited, &:active {

        color: $color-anchor-nav;
      }

      &:hover, &:focus {

        color: $color-anchor-nav-hover;
      }
    }

    .active {
        font-weight: 600;
        margin: 10px;
        padding: em(8) em(4);
    }
}