.app-header {

  .display, .subtitle, .menu, h1 {
    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }

  .display {

    @include span-columns(5);
    margin: 1px 0 0 0;
  }

  .menu {

    @include span-columns(7);
    text-align: right;
    display: inline-block;
    margin: 18px 0 0 0;
    position: relative;
    z-index: 1;

    ul{
      list-style: none;
      margin-left: 0;
    }

    li{
      display: inline-block;
    }

    .active {
      font-weight: 600;
      margin: 10px;
      padding: em(8) em(4);
    }

  }
}
