.commands-api {
  li{
    list-style-type: square;
    margin-left: em(20);
  }

  h2 {
    background: $color-dark-blue;
    color: white;
    padding: em(15) em(10);
    font-size: em(12);
    margin: em(20) 0 0 0;
  }

  h4 {
    color: $font-color;
  }

  h5 {
    background: white;
    padding: em(10);
    margin: 0;
    font-size: em(10);
    color: $font-color;
  }

  pre {
    background: white;
    margin: 0;
  }

  p, ul{
    background: white;
    margin: 0;
    padding: em(10);
    font-family: Inconsolata, Menlo, Monaco,"Courier New",monospace;
  }

  li {
    margin-left: em(20);
    color: $font-color;
  }
}

.commands {
  @include span-columns(12 of 12);
  background: white;
  font-size: em(16);

  span {
    font-size: em(18);
    line-height: em(21);
    background: #fafafa;
    border: 1px solid #ccc;
    color: $color-light-grey;
    padding: em(5);
  }

  th {
    background: $color-dark-blue;
    color: white;
    padding: em(15) em(5);
    font-size: em(18);
  }

  td {
    border-bottom: 1px solid #d4d4d4;
    padding: em(5) em(5) em(20);
  }

  .command {
    font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace;
    font-weight: bold;
    font-size: em(11);
  }
  @include media($tablet) {
    width: 100%;
  }
}

.colors {
  @include span-columns(3 of 12);

  @include media($tablet) {
    @include span-columns(3 of 12);

    p {
      font-size: em(10);
    }
  }
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}
