.examples{

  table {
    @include span-columns(12 of 12);
    margin-bottom: em(21);
    border-collapse: collapse;
    border-spacing: 0;
  }

  th, td {
    padding: em(8);
    line-height: em(21);
    text-align: left;
    border-top: 1px solid #a6a6a6;
    vertical-align: top;

    &:first-child{
      @include span-columns(9 of 12);
    }
  }

  thead:first-child th {
    border-top: 0;
  }
}