.page-title{
	background: url(/images/elements/docs-header.png) top center repeat;
	border-top: 2px solid $color-white;

	.container{
		padding: em(30) 0 em(20) 0;
	}
	.title{
		color: $color-documentation-title;
		margin: 0;
	}

	.subtitle{
		color: $color-documentation-subtitle;
		margin: 0;
	}
}