.commands-api {
  li{
    list-style-type: square;
    margin-left: 20px;
  }

  h2 {
    background: $color-dark-blue;
    color: white;
    padding: em(15) em(10);
    font-size: 12pt;
    margin: 20px 0 0 0;
  }

  h4 {
    color: $font-color;
  }

  h5 {
    background: white;
    padding: em(10);
    margin: 0;
    font-size: 10pt;
    color: $font-color;
  }

  pre {
    background: white;
    margin: 0;
  }

  p, ul{
    background: white;
    margin: 0;
    padding: em(10);
    font-family: Inconsolata, Menlo, Monaco,"Courier New",monospace;
  }

  li {
    margin-left: 20px;
    color: $font-color;
  }
}

.commands {
  background: white;
  font-size: 10.5pt;

  span {
    font-size: em(14);
    line-height: em(21);
    background: #fafafa;
    border: 1px solid #ccc;
    color: #444;
    padding: 5px;
  }

  th {
    background: $color-dark-blue;
    color: white;
    padding: em(15) em(5);
    font-size: 1.2em;
  }

  td {
    border-bottom: 1px solid #d4d4d4;
    padding: em(5) em(5) em(20);
  }

  .command {
    font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace;
    font-weight: bold;
    font-size: 11pt;
  }
  @include media($tablet){
    width: 100%;
  }
}

.colors {
  @include span-columns(3);

  @include media($tablet) {
    @include span-columns(3);

    p {
      font-size: 10px;
    }
  }
  @include media($tablet) {
    @include span-columns(12);
  }
}
