.app-footer {
	@indlude row();
	background: $color-panel-footer;
	color: white;
	font-family: $font-secondary;
	margin-top: em(20);
	position: relative;


	.frameworks {
		background: url(/images/elements/background-footer.png) top center repeat-x;
		padding: em(20) 0;
	}

	.robotics-framework {
		@include span-columns(4 of 12);
		text-align: center;
		float: left;
		padding: em(20);

		.footer-button {
			@extend %button-footer;
		}
	}
}

.copyright {
	
	border-top: 2px solid $color-light-blue;
	clear: both;
	padding: em(10) 0;

	.hybrid-group{
		float: left;

		img{
			vertical-align: sub;
			margin-left: em(25);
		}
	}

	.top-link {
		float: right;

		.top {
			color: $color-medium-blue;
			text-align: center;
			margin: 0;
		}
	}
}
