.hero{
	@extend %hero;

	.content{
		@include span-columns(8 of 12);
		@include omega;
		margin-top: 35px;
		position: relative;
		z-index: 1;

		.title{
			font-size: 2.2em;
			font-weight: 700;
		}

		.sub-title{
			font-size: em(22);
		}
	}

	.display{
		@include span-columns(4 of 12);

		img{
			position: relative;
			top: 46px;
			z-index: 2;
		}
	}

	.action{
		@extend %button;
		text-shadow: 1px 2px 1px $color-button-action-hover-background;
		top: 15px;
	}

	.splitter{
		float: left;
		margin-top: 15px;
	}

	.ship-small{
		@include animation(ship-small 10s infinite linear);
		background: url(/images/elements/ship-small.png) top center repeat-x;
		background-position-x: 325px;
		top: 20px;
	}

	.ship-medium{
		@include animation(ship-medium 5s infinite linear);
		background: url(/images/elements/ship-medium.png) top center repeat-x;
		background-position-x: 651px;
		top: 120px;
	}

	.ship-large{
		@include animation(ship-small 20s infinite linear);
		background: url(/images/elements/ship-large.png) top center repeat-x;
		background-position-x: 420px;
		top: 220px;
	}
}

.site-description{
	background-color: $color-blue;

	.container{
		padding: em(30) 0;
	}
}

@include keyframes(ship-small) {
  from {
    background-position: 2000px;
  }
  to {
    background-position: 0px;
  }
}

@include keyframes(ship-medium) {
  from {
    background-position: 0px;
  }
  to {
    background-position: 2000px;
  }
}