.hero{
	@extend %hero;

	.content{
		@include span-columns(8 of 12);
		@include omega;
		margin-top: 35px;

		.title{
			font-size: 2.2em;
			font-weight: 700;
		}

		.sub-title{
			font-size: em(22);
		}
	}

	.display{
		@include span-columns(4 of 12);

		img{
			position: relative;
			top: 46px;
			z-index: 2;
		}
	}

	.action{
		@extend %button;
		top: 15px;
	}

	.splitter{
		float: left;
		margin-top: 15px;
	}

	.moon{
		background: url(/images/elements/moon.png) top center no-repeat;
		top: 279px;
		left: 39px;
	}

	.ship-small{
		background: url(/images/elements/ship-small.png) top center no-repeat;
		top: 20px;
		left: 38px;
	}

	.ship-medium{
		background: url(/images/elements/ship-medium.png) top center no-repeat;
		top: 206px;
		right: 393px;
	}

	.ship-large{
		background: url(/images/elements/ship-large.png) top center no-repeat;
		top: 291px;
		left: 212px;
		z-index: 1;
	}

	.planet{
		background: url(/images/elements/planet.png) top center no-repeat;
		right: 23px;
		top: 40px;
	}
}

.description{
	background-color: $color-blue;

	.container{
		padding: em(30) 0;
	}
}