.mobile-menu {
  text-align: right;
  display: none;
  margin-right: em(10);

  @include media ($tablet) {
    display: block;
  }

  .active {
    background: white;
  }

  a {
    background: $color-medium-light-blue;
    border-radius: em(13);
    padding: em(10) em(12);
    margin: em(5);
    display: inline-block;

    &:hover {
      background: white;
      cursor: pointer;

      .line{
        background: $color-medium-light-blue;
      }
    }
  }
  .line {
    margin: em(5) 0 em(5);
    background: white;
  }
}
.mobile-menu.home{
  display: none;

  @include media ($mobile-small) {
    display: block;
  }
}

.show {
  display: block !important;
}
