.side-documentation {
  @include span-columns(3);
  background: $color-panel-sidebar;
  border-bottom: 1px solid $color-dark-blue;
  margin-top: 4.3em;
  padding: 3.5em 0.625em 0;

  @include media ($tablet) {
    @include span-columns(12 of 12);
    margin-top: 0;
    padding: 0;
  }


  .sidebar-header{
    background: url(/images/elements/sidebar-header.png) top center no-repeat;
    margin: -7.825em -0.625em 0;

    @include media ($tablet) {
      display: none;
    }
  }

  .docs-sidebar {
    @include media ($tablet) {
      display: none;
    }
    
    > a, .section .name {
      border-bottom: 1px solid white;
      font-size: em(14);
      font-weight: bold;

      &:last-of-type {
        border-bottom: none;
      }
    }

    a, .name {
      width: 100%;
      display: block;
      padding: 10px;
      cursor: pointer;
      color: $color-dark-blue;
      position: relative;
      z-index: 1;
    }

    .links a {
      font-size: em(14);
      color: $color-dark-blue;
      padding: em(5) em(10);

      &:hover{
        color: darken($color-dark-blue,15%);
      }
    }

    a.active {
      color: darken($color-dark-blue,15%);
      font-weight: 700;
    }

    .section .links {
      padding-left: em(15);
      padding-top: em(10);
    }

    .sub-section .links {
      padding-left: em(20);
    }

    .section:before {
      content: '▶';
      float: right;
      margin: 12px 12px 0 0;
      color: $color-dark-red;
      font-size: 8px;
      position: relative;
      z-index: 0;
    }

    .section.active:before {
      content: '▼';
    }
  }
}
