---
title: Artoo.io CLI
author: The Hybrid Group
page_title: Guides
page_subtitle: A Guide by Humans, for Humans.
layout: documentation
page_title_show: true
active_menu_docs: true
---
.cli
  :markdown
    # CLI

    ## Gort

    Artoo makes use of the [Gort][] CLI utility, so you can access important features and connect to robots directly from the command line.
    We call it "RobotOps", aka "DevOps For Robotics".
    You can scan, connect, update device firmware, and more!

    Gort does most of the heavy lifting for finding and connecting to devices.
    For more details, check out the [Gort docs][docs]

    [Gort]: http://gort.io
    [docs]: http://gort.io/documentation/getting_started/

    ## Artoo CLI

    The Artoo CLI is bundled with the `artoo` gem, and provides some basic functionality for generating new robots/adaptors, along with support for controlling robots over a REPL via the `Robi` console.

        $ artoo
        Commands:
          artoo console ROBOT                  # Run a robot using the Robi console
          artoo generate <SUBCOMMAND> ...ARGS  # Generates a new robot or adaptor
          artoo help [COMMAND]                 # Describe available commands or one specific command
          artoo install <SUBCOMMAND> ...ARGS   # Installs utility programs, like socat
          artoo start ROBOT                    # Run a robot
          artoo version                        # Displays the current version

    The Artoo tools are intended to be intuitive, and provide contextual help where appropriate.
