---
page_title_show: true
title: Artoo Guides
author: The Hybrid Group
page_title: Troubleshooting
page_subtitle: "Some things that you may have troubles with."
layout: documentation
active_menu_docs: true
---
:markdown
  # Communication with Devices

  ## Serial Connection

  Connection to devices is done primarily using serial ports in Artoo.

  Setup:

  - To get the serial port identifier for your device, open a terminal and type the following command:

        $ ls /dev/tty.*
        /dev/tty.Sphero-ORB-RN-SPP

  - You should change the code to connect to that port, for example:

        :::ruby
        connection :sphero, :adaptor => :sphero, :port => '/dev/tty.Sphero-ORB-RN-SPP'
