---
page_title_show: true
title: Artoo Contribute
author: The Hybrid Group
page_title: Contribute
page_subtitle: "Anyone can contribute to Artoo."
layout: documentation
active_menu_docs: true
---
:markdown
  # How To Contribute?

  - Spread the word: follow us on Twitter - [@ArtooIO](https://twitter.com/artooio)
  - Open a [new issue][] if you find a bug, or have problems with our documentation.
  - Submit a patch!
    We can always use new code contributions.
    Please make sure to follow our contribution guidelines.

  [new issue]: https://github.com/hybridgroup/artoo/issues/new

  ## Submitting a patch

  ### Setup the library

  1. Clone the repository: `git clone git@github.com:hybridgroup/artoo.git`
  2. Install dependencies: `bundle install`
  3. Make sure the tests pass: `bundle exec rake test`

  ### Submitting code

  - Check the [review guidelines](/documentation/contribute/guidelines)
  - Fork the repo on GitHub
  - Point your local copy of Artoo to your fork
  - `git remote rm origin ; git remote add origin git@github.com:[your-username]/artoo.git`
  - Create your new feature branch (`git checkout -b add/my-new-feature`)
  - Commit your changes (`git commit -am "Add new feature"`)
  - Push to your fork (`git push origin add/my-new-feature`)
  - Create a [new pull request](https://github.com/hybridgroup/artoo/compare?expand=1)
