---
layout: documentation
page_title_show: true
title: "Artoo Example - led_dance"
page_title: "Example: led_dance"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-arduino/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::ruby
        # Use this example to make your leds dance!
        # LEDS variable controls number of connected leds
        # TIME varirable controls velocity
        # First led should be on port 2, next leds on consecutive ports

        require 'artoo'

        LEDS = 6
        TIME = 0.05

        connection :firmata, :adaptor => :firmata, :port => '/dev/tty.usbmodem1411' #osx
        device :board, :driver => :device_info

        LEDS.times do |i|
          device "led_\#{i+1}", :driver => :led, :pin => (i+2)
        end

        work do

          current = 0
          leds    = devices.to_a.select {|d| d[1].name.include?('led') }

          every(TIME) do
            led = leds[current % LEDS][1]

            led.on? ? led.off : led.on

            current += 1
          end

        end

