body {
  background-color: $color-light-blue;
  font-family: $font-primary;
  margin: 0;
}

.container {
  @include outer-container;
  margin: 0 auto;
  position: relative;
}

.main-content{
	@include outer-container;
}