.app-header {
	height: 53px;

	@include media($tablet){
		height: auto;
	}
}
.app-logo{
	width: 188px;
}

.logo{
	@include media($tablet){
		height: 85px;
	}
}

#docs-menu, #mobile-menu{
  	width: 55px;
}

.line {
    height: 6px;
}