a {
  color: $color-anchor;
  text-decoration: none;

  &:hover {
    color: $color-anchor-hover
  }
}

p {
  color: $font-color;
}

ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  color: $color-heading;
}

code {
  border: 1px solid white;
  padding: 0 em(2);
  color: $color-code;
}

.alternative-heading {
  color: $color-alternative-heading;
}
