---
layout: documentation
page_title_show: true
title: "Artoo Example - sphero_interface"
page_title: "Example: sphero_interface"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-sphero/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '/dev/rfcomm0' #linux
        device :sphero, :driver => :sphero

        work do
          @rolling = false

          every(3.seconds) do
            puts "Rolling..."
            unless @rolling
              # same as interfaces[:rover].forward(90)
              forward(90)
              @rolling = true
            else
              #  same as interfaces[:rover].backward(90)
              backward(90)
              @rolling = false
            end
          end
        end

